<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
        <title>Robotics Group @ University of Montreal | Efficient Sim-to-real transfer</title>
        <meta name="description" content="The Robotics and Embodied AI Lab @ U de Montreal">
      
        <link rel="shortcut icon" href="http://montrealrobotics.github.io/assets/img/favicon.png">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet" href="http://montrealrobotics.github.io/assets/css/sb-admin-2.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="http://montrealrobotics.github.io/assets/css/main.css">
        <link rel="canonical" href="http://montrealrobotics.github.io/projects/templates/sim2real">

      </head>
    <body>
        <div class="container">
            <!-- This is a bit nasty, but it basically says be a column first, and on larger screens be a spaced out row -->
            <nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-dark bg-primary mb-2 text-white">
                <a class="navbar-brand" href="/">REAL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                                
                                
            
                                    
            
                                    
                                    
                                    
            
                                    <li class="nav-item">
                                        <a class="nav-link "
                                           href="/">
                                            Home
                                        </a>
                                    </li>
                                    
            
                                    
            
                                    
                                    
                                    
            
                                    <li class="nav-item">
                                        <a class="nav-link "
                                           href="/people.html">
                                            People
                                        </a>
                                    </li>
                                    
            
                                    
            
                                    
                                    
                                    
            
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           href="/research.html">
                                            Research
                                        </a>
                                    </li>
                                    
            
                                    
            
                                    
                                    
                                    
            
                                    <li class="nav-item">
                                        <a class="nav-link "
                                           href="/publications/">
                                            Publications
                                        </a>
                                    </li>
                                    
            
                                    
            
                                    
                                    
                                    
            
                                    <li class="nav-item">
                                        <a class="nav-link "
                                           href="/contact.html">
                                            Contact
                                        </a>
                                    </li>
                                    
            
                                    
            
                                    
                                    
                                    
            
                                    <li class="nav-item">
                                        <a class="nav-link "
                                           href="">
                                            Blog
                                        </a>
                                    </li>
                                    
            
                                    
            
                                    
                                    
                                    
            
                                    <li class="nav-item">
                                        <a class="nav-link "
                                           href="/blog.html">
                                            
                                        </a>
                                    </li>
                                    
                        </ul>
                      </div>
            </nav>

            

            <!-- 
                <h1>Efficient Sim-to-real transfer</h1>
             -->

            <h2 id="efficient-sim-to-real-transfer">Efficient Sim-to-real transfer</h2>

<p>Description follows …</p>


<h2> People </h2>
<section class="people project-people">
    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    
        <svg class="profile noprofile"
             alt="Homanga Bharadhwaj"
             viewBox="0 0 100 100">
            <title>Homanga Bharadhwaj</title>
            <circle r="50" cx="50" cy="50" />
            <text x="50" y="50"
                  font-size="70"
                  text-anchor="middle" dominant-baseline="central" >
                H
            </text>
        </svg>
    


                <h4 class="person-name"> Homanga Bharadhwaj </h4>
                
            </div>
    </div>
</div>


    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    
        <svg class="profile noprofile"
             alt=""
             viewBox="0 0 100 100">
            <title></title>
            <circle r="50" cx="50" cy="50" />
            <text x="50" y="50"
                  font-size="70"
                  text-anchor="middle" dominant-baseline="central" >
                
            </text>
        </svg>
    


                <h4 class="person-name">  </h4>
                
            </div>
    </div>
</div>


    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    <a href="http://liampaull.ca"
       style="text-decoration: none">
        
        <img class="rounded-circle profile" style="float: none !important"
             alt="Liam Paull"
             title="Liam Paull"
             src="/assets/img/people/liam.jpg" />
    
    </a>


                <h4 class="person-name"> 
        
        <a href="http://liampaull.ca"> Liam Paull </a>
     <a href="https://github.com/liampaull"><i class="fab fa-github"></i></a>
     </h4>
                
            </div>
    </div>
</div>


    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    
        <svg class="profile noprofile"
             alt="Yoshua Bengio"
             viewBox="0 0 100 100">
            <title>Yoshua Bengio</title>
            <circle r="50" cx="50" cy="50" />
            <text x="50" y="50"
                  font-size="70"
                  text-anchor="middle" dominant-baseline="central" >
                Y
            </text>
        </svg>
    


                <h4 class="person-name"> Yoshua Bengio </h4>
                
            </div>
    </div>
</div>


    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    <a href="https://fgolemo.github.io/"
       style="text-decoration: none">
        
        <img class="rounded-circle profile" style="float: none !important"
             alt="Florian Golemo"
             title="Florian Golemo"
             src="/assets/img/people/florian.jpg" />
    
    </a>


                <h4 class="person-name"> 
        
        <a href="https://fgolemo.github.io/"> Florian Golemo </a>
     <a href="https://github.com/fgolemo"><i class="fab fa-github"></i></a>
     </h4>
                
            </div>
    </div>
</div>


    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    <a href="https://bhairavmehta95.github.io/"
       style="text-decoration: none">
        
        <img class="rounded-circle profile" style="float: none !important"
             alt="Bhairav Mehta"
             title="Bhairav Mehta"
             src="/assets/img/people/bhairav.jpg" />
    
    </a>


                <h4 class="person-name"> 
        <a href="https://bhairavmehta95.github.io/"> Bhairav Mehta </a>
     </h4>
                
            </div>
    </div>
</div>


    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    
        <img class="rounded-circle profile" style="float: none !important"
             alt="Manfred Diaz"
             title="Manfred Diaz"
             src="/assets/img/people/manfred.jpg" />
    


                <h4 class="person-name"> 
        Manfred Diaz <a href="https://github.com/takeitallsource"><i class="fab fa-github"></i></a>
     </h4>
                
            </div>
    </div>
</div>


    
        
        











<div class="card mr-2 mb-2 border-bottom-primary" style="min-width: 300px">
    <div class="card-body">
            <div class="person person-with-image row align-items-center">
                







    
        <img class="rounded-circle profile" style="float: none !important"
             alt="Gunshi Gupta"
             title="Gunshi Gupta"
             src="/assets/img/people/gunshi.jpg" />
    


                <h4 class="person-name"> Gunshi Gupta </h4>
                
            </div>
    </div>
</div>


    
</section>


            <div class="my-5 pt-5 text-muted text-center text-md">
                <h4>&copy; Robotics and Embodied AI Lab Team, 2019</h4>
                <p class="affiliations">
                        <a href="https://en.diro.umontreal.ca/home/"><img src="http://montrealrobotics.github.io/assets/img/diro.png" width="150px" alt=
                            "Department of Computer Science and Operations Research"> </a>
                        |
                        <a href="https://www.umontreal.ca/">
                            <img src="http://montrealrobotics.github.io/assets/img/udem.png" width="150px" alt=
                            "Universit&eacute; de Montr&eacute;al">
                            </a>
                </p>
                <h4>Powered by jekyll</h4>
            </div>

        </div> <!-- /container -->

        <!-- Load jquery-->
        <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <!-- Support retina images. -->
        <script type="text/javascript"
                src="/assets/js/srcset-polyfill.js"></script>
        <!-- Support hidden abstract/bibtex blocks. -->
        <script src="/assets/js/common.js"></script>
    </body>
</html>
